@import url('https://fonts.googleapis.com/css?family=Lato');


* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;

}

.AppHeader {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 10px;
  padding-left: 40px;
}

.Date {

}

.InputField {
  padding: 10px;
  padding-left: 40px;
}

.InputField-Header {
  padding-top: 20px;
}

.ui.button.char {
  padding-left:15px;
  padding-right:15px;
}

.ui.tiny.red.button {
  padding: 10px 10px;
}

.WordsContainer {
 /*  background-color: blue;

  height: 500px;
  */
}

.six.wide.column.words {

}
